*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
  }

  html{
    scroll-behavior: smooth;
  }
body{
    background: black;
    color:#fff;
  }
h1{
  text-align: center;
  font-size: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
h1 span{
  color: #ff004f;
  transition: font-size 0.5s;
  cursor: pointer;
}
h1 span:hover{
  font-size: 70px;
}

.container{
    padding: 10px 10%;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.logo{
    width: 250px;
    transition: transform 0.5s;
    cursor: pointer;
    
  }
.logo:hover{
    transform: scale(1.2);
  }
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
nav ul li a:hover::after{
    width: 100%;
  }
.header-text{
    margin-top: 20%;
    font-size: 30px;
  }
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
  }
.header-text h1 span{
    color: #ff004f;
    transition: font-size 0.5s;
    cursor: pointer;
  }
  .header-text h1 span:hover{
    font-size: 100px;
  }
/*-------------about----------*/
#about2{
  padding: 80px 0;
  color: #ababab;
}
.row1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
}
.about1-col-1{
  flex-basis: 35%;
}
.about1-col-1 img{
  width: 100%;
  border-radius: 15px;
  transition: transform 0.5s;
  cursor: pointer;
}
.about1-col-1 img:hover{
  transform: scale(1.2);
}
.about1-col-2{
  flex-basis: 60%;
}
.sub1-title{
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.about1-col-2 p span{
  color: #ff004f;
}
.tab1-titles{
  display: flex;
  margin: 20px 0 40px;
}

/*----------small------*/
nav ul1 li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul1 li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul1 li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul1 li a:hover::after{
    width: 100%;
  }
  nav .fas{
    display: none;
  }
  